:root {
  --table-border-style: 1px solid rgb(170, 170, 170);;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: var(--table-border-style);
  border-right: var(--table-border-style);
}

.table > div:nth-child(odd) {
  background: rgb(228, 228, 228);
}

.table .header {
  box-shadow: 0 5px 5px rgba(0,0,0, 0.2);
  position: relative;
}

.table .pulls {
  height: 20px;
  animation: pulse 1s infinite ease-in-out;
}

@keyframes pulse {
  0% {
      background-color: rgba(165, 165, 165, 0.1);
  }
  50% {
      background-color: rgba(165, 165, 165, 0.3);
  }
  100% {
      background-color: rgba(165, 165, 165, 0.1);
  }
}